<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>content_directory_icon_tint</key>
    <string>40a6d3</string>
    <key>content_note_icon_tint</key>
    <string>999999</string>
    <key>content_body_text</key>
    <string>000000</string>
    <key>content_sub_text</key>
    <string>888888</string>
    <key>content_background</key>
    <string>f0fafc</string>
    <key>content_text_cursor</key>
    <string>0f7ed1</string>
    <key>content_keyboard_appearance</key>
    <string>default</string>
    <key>content_button_tint</key>
    <string>138ad3</string>
    <key>list_table_view_cell_separator</key>
    <string>85b4d6</string>
    <key>list_table_view_cell_selected_background</key>
    <string>dceff4</string>
    <key>calendar_weekday_text</key>
    <string>333333</string>
    <key>calendar_saturday_text</key>
    <string>4889D8</string>
    <key>calendar_sunday_text</key>
    <string>e25465</string>
</dict>
</plist>