.file-input-area{
    margin-bottom: 30px;
}
input{
    width:240px;
    font-size:14px;
    padding: 3px;
    height:30px;
    box-sizing: border-box;
}
button{
    height:30px;
    box-sizing: border-box;
    width:80px;
}
p:first-child{
    margin-bottom: 5px;
}